@font-face {
  font-family: Lato;
  src: url(../assets/Lato-Regular.ttf);
}

body {
  background: #333;
}

* {
  margin: 0;
  padding: 0;
  font-family: Lato;
  user-select: none;
}

.container {
  width: calc(100vw - 20px);
  height: calc(100vh - 20px);
  position: absolute;
  left: 10px;
  top: 10px;
}

.row {
  height: 100%;
  width: calc(100% - 1rem);
  display: flex;
  align-items: center;
  padding-left: 0.5rem;
  background-color: transparent;
}

h1 {
  color: white;
  background: #00000033;
  font-size: 1rem;
  /* padding: 0.5rem 0.5rem 0.4rem 0.5rem; */
  height: 20px;
  padding: 4px;
  border-radius: 8px;
  margin: 0 0.5rem;
}

.round-button {
  height: 15px;
  width: 15px;
  padding: 4px;
  background: #00000033;
  border-radius: 6px;
  display: grid;
  justify-content: center;
  align-items: center;
  margin: 0.2rem;
  color: white;
  line-height: 100%;
  font-size: 70%;
}
.round-button:hover {
  background: #555;
}

.round-button img {
  width: 70%;
  height: 70%;
  left: 15%;
  position: relative;
  filter: invert();
}

#pause {
  display: none;
}

.handle {
  -webkit-app-region: drag;
  box-sizing: border-box;
  top: calc(50% - 10px);
  left: -5px;
  position: absolute;
  width: 20px;
  height: 20px;
  transition: opacity 0.2s;
}

.handle-right {
  right: -5px;
  left: auto;
  user-select: none;
}

.mouseoutinator {
  width: 100vw;
  height: 100vh;
}
